*{
    font-family: sans-serif,Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(blog.jpg);
    height: 100vh;
    background-size: cover;
    background-position:  center;
}
ul{
     float: right;
     list-style-type: none;
     margin-top: 25px; 
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: white;
    color: #000;
}
.title{
    
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);

}
.title h1{
    color: white;
    font-family: Georgia, Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: 530;
}
.title p{
    color: rgb(255, 86, 8);
    padding-left: 11%;
    font-size: 23px;
}
.signin{
    margin-left: 26%;
    border: transparent;
    color: white;
    background-color: inherit;
    font-size: 18px;
}
.signup{
    margin-left:10px;
    border: transparent;
    color: white;
    background-color: inherit;
    font-size: 18px;
}
.signin:hover{
    color: black;
    background: white;
}
.signup:hover{
    color: black;
    background: white;
}